/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General para la pag */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body footer {
  display: block;
  width: 100%;
  float: left;
  text-align: right;
  box-sizing: border-box;
  padding: 10px;
  margin-top: auto;
  background-color: #141414;
}

body footer .text-muted {
  --bs-text-opacity: 1;
  font-size: small;
  color: #ff0505 !important;
}

body footer .border-top {
  border-top: 0px !important;
}

body footer .bi, body footer .bi-instagram {
  font-size: medium;
}

/* NavBar */
header {
  background-color: #141414;
  font-size: large !important;
  padding: 10px;
  display: block;
  width: 100%;
  float: left;
  text-align: right;
  box-sizing: border-box;
}

header ul {
  position: relative;
  padding-top: 20px;
  text-align: right;
  display: inline;
}

header li {
  display: inline !important;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  transition: all 0.4s;
}

header a {
  text-decoration: none;
  color: #ff0505;
}

header a:hover {
  color: #f7c4c4;
}

header .nav-item {
  flex-wrap: wrap;
  text-decoration: none;
  color: #ff0505;
}

header .nav-link {
  display: inline;
  color: #ff0505;
}

header .nav-link:hover {
  color: #f7c4c4;
}

header .dropdown-menu {
  --bs-dropdown-bg: /* CALENDARIO */

// ol {
//   list-style: none;
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
// }

// .first-day {
//   grid-column-start: 5;
// }

// .day-name {
//   font-weight: bold;
//   font-size: 12px;
//   text-align: center;
//   margin-bottom: 2px;
//   padding: 4px;
// }

/* CALENDARIO TABLA */

.titulo {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2px;
  padding: 4px;
}

.cuerpo {
  border: #000000 solid 1px;
  text-decoration: none;
  text-align: center;
  /* width: 19%; */
  /* min-height: 100vh; */
  

}

/* .table {
  overflow-x: auto;
} */

a {
  text-decoration: none;
  color: #000000;
  
}
a:hover !important;
}

header .offcanvas {
  background-color: #141414;
  color: beige;
}

header .navbar-toggler {
  background-color: beige;
  color: beige;
}

section .card {
  --bs-card-bg: $color-fondo;
  text-align: center;
}

section .botones {
  gap: 0.5rem !important;
  margin-right: auto !important;
  margin-left: auto !important;
  display: grid !important;
  width: 50%;
}

section .border {
  border: none;
}

/* CALENDARIO */
ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.first-day {
  grid-column-start: 5;
}

.day-name {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-bottom: 2px;
  padding: 4px;
}

/* CALENDARIO TABLA */
section table, section th, section tr, section td {
  border: #810000 solid 2px;
  text-decoration: none;
  text-align: center;
  color: #810000;
}

section h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 2px;
  padding: 4px;
  color: #810000;
}

section a {
  text-decoration: none;
  color: #810000;
}

section a:hover {
  color: #ff0505;
}
